<mat-toolbar color="primary">{{ title }}</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened class="mat-elevation-z2">
    <app-document-list [documents]="documents" [selectedDocument]="selectedDocument" (documentSelect)="passDocumentToEditor($event)"></app-document-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-grid-list [cols]="2" rowHeight="1:2">
      <mat-grid-tile>
        <app-document-editor id="editor" [selectedDocument]="selectedDocument" (documentSaved)="getDocuments()"></app-document-editor>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-document-preview id="preview" [changedDocument]="selectedDocument"></app-document-preview>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav-content>
</mat-sidenav-container>


